# data / outputs
data/raw/
data/prepared/
models/*.pkl
models/*.joblib
results/

# notebooks
.ipynb_checkpoints/

# python
__pycache__/
*.pyc
.venv/
.env

# OS
.DS_Store
models/MLP_torch_model.pt
models/MLP_per_class_accuracy.csv
models/RF_feature_names.json
